html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.vertical-center {
  	display: flex;
  	align-items: center;
}

.background {
	background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}

#login_bg {
	background-image: url("../img/bg_login.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}

.game_btn {
	height: 27%;
	width: 100%;
	display: inline-block;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    margin: 0.5%;
}

a#game_btn1 {
    background-image: url(../img/button_game1.png);
}

#game_btn1:hover {
    background-image: url(../img/button_game1h.png);
}

a#game_btn2 {
    background-image: url(../img/button_game2.png);
}

a#game_btn2:hover {
    background-image: url(../img/button_game2h.png);
}

a#game_btn3 {
    background-image: url(../img/button_game3.png);
}

a#game_btn3:hover {
    background-image: url(../img/button_game3h.png);
}