html, body {
  height: 100%;
  margin:0;
  overflow-x: hidden;
}

.fill { 
  min-height: 100%;
  height: 100%;
}

.vertical-center {
	display: flex;
	align-items: center;
}

.background {
	background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

.background2 {
	background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

.background3 {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
  background-image: url("../img/bg3.png");
  background-position: center center;
  background-size: auto 100%;
  overflow: hidden;
  position: absolute;
  margin:0;
}

/* Login */

#login_bg {
	background-image: url("../img/bg_login.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

/* List */

.game_btn {
	height: 27%;
	width: 100%;
	display: inline-block;
	background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  margin: 0.5%;
}

/* Game 1 */

.drum {
	max-width: 90%;
	max-height: 100%;
	background-color: #FBE9E8;
	margin: 1%;
	padding: 1%;
}

a#game_btn1 {
  background-image: url(../img/button_game1.png);
}

#game_btn1:hover {
  background-image: url(../img/button_game1h.png);
}

a#game_btn2 {
  background-image: url(../img/button_game2.png);
}

a#game_btn2:hover {
  background-image: url(../img/button_game2h.png);
}

a#game_btn3 {
  background-image: url(../img/button_game3.png);
}

a#game_btn3:hover {
  background-image: url(../img/button_game3h.png);
}

/* Game 2 */

#background_game2 {
	background-color: #224802;
	background-size: auto 100%;
}

#saso {
	max-width: 60%;
	max-height: 100%;
	margin: 1%;
	padding: 1%;
	vertical-align: top;
}

#donz {
	max-width: 60%;
	max-height: 100%;
	margin: 1%;
	padding: 1%;
}

#saso_div {
	height: 44%;
	text-align:right;
	vertical-align: top;
}

#donz_div {
	height: 44%;
	text-align:left;
	vertical-align: bottom;
}

#message_div {
	height: 12%;
	background-color: #E4F8A1;
}

#ball {
	position: absolute;
	top: 45%;
	left: 50%;
	max-width: 10%;
	max-height: 10%;
}

#ball.move {
	-webkit-animation-name: movingBall;
	-webkit-animation-duration: 2000ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;

	-moz-animation-name: movingBall;
	-moz-animation-duration: 2000ms;
	-moz-animation-iteration-count: 1;

	-ms-animation-name: movingBall;
	-ms-animation-duration: 2000ms;
	-ms-animation-iteration-count: 1;

	-o-animation-name: movingBall;
	-o-animation-duration: 2000ms;
	-o-animation-iteration-count: 1;

	animation-name: movingBall;
	animation-duration: 2000ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@-webkit-keyframes movingBall {
  0% {
    opacity: 1.0;
  }

  30% {
    opacity: 0.2;
    top: 75%;
    left: 50%;
  }

  50% {
  	opacity: 1.0;
    top: 75%;
    left: 50%;
  }

  100% {
    opacity: 1.0;
    top: 15%;
    left: 80%;
  }
}

@-moz-keyframes movingBall {
  0% {
    opacity: 1.0;
  }

  30% {
    opacity: 0.2;
    top: 75%;
    left: 50%;
  }

  50% {
  	opacity: 1.0;
    top: 75%;
    left: 50%;
  }

  100% {
    opacity: 1.0;
    top: 15%;
    left: 80%;
  }
}

@-ms-keyframes movingBall {
  0% {
    opacity: 1.0;
  }

  30% {
    opacity: 0.2;
    top: 75%;
    left: 50%;
  }

  50% {
  	opacity: 1.0;
    top: 75%;
    left: 50%;
  }

  100% {
    opacity: 1.0;
    top: 15%;
    left: 80%;
  }
}

@-o-keyframes movingBall {
  0% {
    opacity: 1.0;
  }

  30% {
    opacity: 0.2;
    top: 75%;
    left: 50%;
  }

  50% {
  	opacity: 1.0;
    top: 75%;
    left: 50%;
  }

  100% {
    opacity: 1.0;
    top: 15%;
    left: 80%;
  }
}

@keyframes movingBall {
  0% {
    opacity: 1.0;
  }

  30% {
    opacity: 0.2;
    top: 75%;
    left: 50%;
  }

  50% {
  	opacity: 1.0;
    top: 75%;
    left: 50%;
  }

  100% {
    opacity: 1.0;
    top: 15%;
    left: 80%;
  }
}

/* Game 3 */

#costmer {
  position: fixed;
  bottom: 0;
  height: 30%;
  left: 50%;
  margin: 0px;
  padding: 0px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moztransform: translate(-50%, 0);
  -mstransform: translate(-50%, 0);
  -otransform: translate(-50%, 0);
}

.costmer_canvas {
  position: fixed;
  height: 70%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#game3_message {
  text-align: center;
}